*.DS_Store

cachefx
gui
config.xml
xmlgui/.qmake.stash
xmlgui/moc_ConfigWindowPresenter.cpp
xmlgui/moc_ConfigWindowView.cpp
xmlgui/moc_predefs.h
test
.vscode

xmlgui/Makefile
localdefs.mak



*.o
*.pdf
*.blg
*.bbl
*.out
*.aux
*.log
*.synctex.gz
*.eps
*.fls
*.fdb_latexmk
~*
.*.swp